apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: local-buyer-intelligence
  labels:
    app: pgbouncer
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  selector:
    app: pgbouncer
