apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - namespace.yaml
  - prometheus/rbac.yaml
  - prometheus/configmap.yaml
  - prometheus/deployment.yaml
  - prometheus/service.yaml
  - grafana/configmap.yaml
  - grafana/deployment.yaml
  - grafana/service.yaml

patches:
  - path: patches/backend-metrics.yaml
    target:
      kind: Deployment
      name: backend
  - path: patches/redis-exporter.yaml
    target:
      kind: Deployment
      name: redis
