apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: local-buyer-intelligence-staging

resources:
  - ../../base

namePrefix: staging-

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: celery-worker

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - ENVIRONMENT=staging

images:
  - name: ghcr.io/ntewolde/local-buyer-intelligence-backend
    newTag: staging
  - name: ghcr.io/ntewolde/local-buyer-intelligence-frontend
    newTag: staging
